@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

body {
    font-family: 'Varela Round', sans-serif;
}

#simon-header {

    font-size: 3rem;
    margin-top: 0.5rem;

}

#new-game-button,
#how-to-play-button {

    font-size: 1.1rem;

    margin-bottom: 1rem;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

#high-score,
#current-score {

    font-size: 3rem;
}

.score-text {

    font-size: 1.1rem;
    margin: 0.5rem 0;
}

#game-over,
#hs-alert {

    /* always want these to appear over the game board */
    z-index: 1;
    position: relative;
    color: #fff;
    font-size: 1.8rem;
}

#game-board {

    position: relative;
    background-color: #3a3838;
    width: 95vw;
    height: 95vw;
    border-radius: 10%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-height: 450px;
    max-width: 450px;

}

.simon-button {

    position: absolute;
    width: 41%;
    height: 41%;
    border-radius: 10%;
}

.top-left {

    left: 6%;
    top: 6%;
}

.green {

    background-color: #006000;
}

.lit-green {

    background-color: #afffab;
}

.top-right {

    left: 53%;
    top: 6%;
}

.red {

    background-color: #a40000;
}

.lit-red {

    background-color: #ff8080;

}

.bottom-left {

    bottom: 6%;
    left: 6%;
}

.yellow {

    background-color: #abab00;
}

.lit-yellow {

    background-color: #ffff82;
}

.bottom-right {

    left: 53%;
    bottom: 6%;
}

.blue {

    background-color: #0000bc;
}

.lit-blue {

    background-color: #8383f7;
}

@media (min-width: 576px) {



    #new-game-button,
    #how-to-play-button {

        font-size: 1.25rem;
    }

    #simon-header {

        font-size: 4rem;
    }

    #high-score,
    #current-score {

        font-size: 4rem;
    }

    .score-text {

        font-size: 1.25rem;

    }

    #game-over,
    #hs-alert {

        font-size: 2.5rem;

    }
}
