#simon-header {
    margin: 1rem 0;
}

#new-game-button, #how-to-play-button {
    margin: 1rem 0;
}

.green-button {
    background-color: green;
    width: 40vw;
    height: 40vw;
    max-width: 180px;
    max-height: 180px;
    border-radius: 10%;
}

.red-button {
    background-color: red;
    width: 40vw;
    height: 40vw;
    max-width: 180px;
    max-height: 180px;
    border-radius: 10%;
}

.yellow-button {
    background-color: yellow;
    width: 40vw;
    height: 40vw;
    max-width: 180px;
    max-height: 180px;
    border-radius: 10%;
}

.blue-button {
    background-color: blue;
    width: 40vw;
    height: 40vw;
    max-width: 180px;
    max-height: 180px;
    border-radius: 10%;
}

.lit-green-button {
    background-color: #afffab;
    width: 40vw;
    height: 40vw;
    max-width: 180px;
    max-height: 180px;
    border-radius: 10%;
}

.lit-red-button {
    background-color: #ff8080;
    width: 40vw;
    height: 40vw;
    max-width: 180px;
    max-height: 180px;
    border-radius: 10%;
}

.lit-yellow-button {
    background-color: #fffd94;
    width: 40vw;
    height: 40vw;
    max-width: 180px;
    max-height: 180px;
    border-radius: 10%;
}

.lit-blue-button {
    background-color: #8383f7;
    width: 40vw;
    height: 40vw;
    max-width: 180px;
    max-height: 180px;
    border-radius: 10%;
}